@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;700&display=swap');

:root {
    --main-fonts: 'Roboto', sans-serif;

    --primary-color: #06B6D4;
    --secondary-color: #E2E8F0;
    --neutral-color: #ffffff;
    --accent-color: #F97316;
    --p-color: #64748b;
    --h-color: #1e293b;

    --user-avatar01: url(./images/user-01.png);
    --user-avatar02: url(./images/user-02.png);
    --user-avatar03: url(./images/user-03.png);
    --user-avatar04: url(./images/user-04.png);

    --user-avatar01_bg: #ffc400;
    --user-avatar02_bg: #F97316;
    --user-avatar03_bg: #4fb9ff;
    --user-avatar04_bg: #fa76ef;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: var(--main-fonts);
    background-color: var(--secondary-color);
}

.container {
    display: grid;
    grid-template-columns: 303px auto;
    grid-template-rows: 161px auto;
    width: 100vw;
    height: 100vh;
}

/* Header Start */
header {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-column: 2 / 3;
    background-color: var(--neutral-color);
    padding: 10px 20px;
    row-gap: 10px;
    grid-row-gap: 10px;

    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Top Part */
.header-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.search-input {
    display: grid;
    grid-template-columns: 40px auto;
    height: 40px;
    align-items: center;
}

.search-input > button[type="submit"] {
    background: none;
    border: none;
    color: var(--h-color);
    cursor: pointer;
}

.search-input > button[type="submit"]:hover {
    color: var(--primary-color);
}

.search-input > input[type="search"] {
    min-width: 430px;
    max-width: 600px;
    height: 32px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: var(--secondary-color);

    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
    appearance: textfield;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
}

.user-account {
    display: grid;
    grid-template-columns: auto 40px 140px;
    align-items: center;
    justify-items: end;
    column-gap: 20px;
    grid-column-gap: 20px;
}

.user-account a > [class^='material-icons'] {
    height: 40px;
    padding: 7.5px;
    color: var(--h-color);
}

.user-account a > [class^='material-icons']:hover {
    color: var(--primary-color);
}

.user-account-name {
    font-size: 1.125rem;
    font-weight: 500;
    padding-right: 10px;
}

.user-account .user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

/* Bottom Part */
.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-right: 10px;
}

.user-profile {
    grid-template-columns: 70px minmax(430px, auto);
    display: grid;
    padding: 9px;
    justify-items: start;

}

.user-profile .user-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.greeting {
    font-size: 1.125rem;
    font-weight: 500;
}

.user-greetings {
    padding-left: 20px;
    align-self: center;
}

.user-full-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.user-action-btn {
    display: inline-grid;
    grid-template-columns: auto repeat(2, 100px);
    align-items: center;
    justify-items: end;
    gap: 20px;
    grid-gap: 20px;
}

.user-action-btn button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 1.125rem;
    color: var(--neutral-color);
    background: var(--primary-color);
    border: none;
    cursor: pointer;
}

.user-action-btn button:hover {
    color: var(--h-color);
    font-weight: 700;
}
/* Header End */

/* Side Navbar Start */
aside {
    display: grid;
    grid-template-rows: 60px auto 160px 40px;
    grid-row: 1 / 4;
    background-color: var(--primary-color);
    color: var(--neutral-color);
    padding: 20px;
    align-items: flex-start;
    row-gap: 20px;
    grid-row-gap: 20px;

    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.side-nav-title {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
    align-items: center;
    font-size: 1.2rem;
}

.side-nav-title > [class^='material-icons'] {
    font-size: 3.125rem;
}

.nav-top, .nav-bottom {
    display: grid;
    font-size: 1.2rem;
}

.nav-item {
    list-style: none;
    margin: 10px 0;
    line-height: 30px;
}

.nav-link {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    color: var(--neutral-color);
    font-size: 1.25rem;
    text-decoration: none;
}

.nav-link > [class^='material-icons'] {
    margin-left: 15px;
    margin-right: 22px;
    font-size: 1.5rem;
}

.nav-link:hover {
    color: var(--h-color);
}

.active {
    font-weight: 700;
}

aside p {
    font-size: .875rem;
    margin: 0 auto;
    padding: 20px 0;
    font-weight: 300;
}
/* Side Navbar End */

/* Main Contents Start */
main {
    display: grid;
    overflow: auto;
    grid-template-columns: auto minmax(277px, 300px);
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

/* Main Projects */
.projects > h2, .announcement > h2, .trending > h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

.projects {
    display: grid;
    grid-template-rows: 48px auto;
    padding: 20px 0 20px 20px;
    grid-column: 1 / 2;
}

.cards {
    display: inline-grid;
    grid-template: repeat(auto-fill, minmax(217px, 1fr)) / repeat(auto-fill, minmax(380px, 1fr));
    gap: 20px;
    grid-gap: 20px;
}

.project-card {
    display: grid;
    border-radius: 8px;
    background-color: var(--neutral-color);
    padding: 10px 20px;
    border-left: 10px solid var(--accent-color);
    align-content: space-between;

    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.project-copy > h3 {
    color: var(--h-color);
    margin: 10px 0;
    font-weight: 500;
}

.project-copy > p {
    color: var(--p-color);
    margin-bottom: 10px;
    font-size: 1.125rem;
    font-weight: 300;
}

.project-btn {
    display: grid;
    grid-template-columns: repeat(3, 25px);
    column-gap: 15px;
    grid-column-gap: 15px;
    align-items: center;
    justify-content: end;
    padding: 10px;
}

.project-link > [class^='material-icons'] {
    color: var(--h-color);
    font-weight: 300;
}

.project-link > [class^='material-icons']:hover {
    color: var(--accent-color);
}
/* Main Contents End */